*{
    margin: 0px;
    padding: 0px;
}
.cointainer{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 70%;
      height: 500px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7{
    margin-top: 20px;
}
.p{
    padding-left: 30px;
    padding-bottom: 20px;
}
.sec5{
    display: flex;
    flex-direction: column;
}
.label{
    margin-bottom: 20px;
    margin-left: 15px;
}